In [1]:
import pandas as pd
import numpy as np

# 독립성 검정
# 카이제곱검정 : 두 범주형 변수가 서로 독립적인지 검정
# 귀무가설 : 두 변수가 서로 관계가 없다
# 대립가설 : 두 변수가 서로 관계가 있다
#카이제곱 통계량은 기대값과 실제값의 차이를 바탕으로 정의됨

In [2]:
df = pd.read_csv("../data/htest05.csv", engine="python")

In [4]:
df.head()
df.tail()

    smoke  disease
30      1        0
31      1        1
32      1        1
33      1        1
34      1        1

In [9]:
##  교차 테이블 생성(분할표)
cross_table = pd.crosstab(df['smoke'],df['disease'])
data = cross_table.values

In [8]:
from scipy.stats import *

In [11]:
# chi2_contingency(data(arry타입),correction=False) ##  기대값이 5초과 
# 통계량, pvalue,자유도, 기대값
statistics,pvalue,dof,expected = chi2_contingency(data,correction=False)

In [12]:
print(pvalue) # pvalue가 0.05보다 작으므로 대립가설 채택 : 두변수는 종속성
# 흡연여부는 폐암 유무와 관계가 있다

0.026855610352114926

In [13]:
# 기대값 출력
pd.DataFrame(expected,columns = cross_table.columns, index=cross_table.index)

disease          0         1
smoke
0        10.971429  5.028571
1        13.028571  5.971429

In [14]:
print(statistics)

4.900069776714513

In [ ]:
##-----  개별실습

In [16]:
df = pd.read_csv('../data/성별에따른만족도.csv',engine='python')

In [17]:
df.head()

   만족도  성별
0  불만족  남성
1   보통  여성
2  불만족  여성
3   보통  남성
4   만족  여성

In [18]:
#  교차 테이블 생성(분할표)
cross_table = pd.crosstab(df['만족도'],df['성별'])
cross_table

성별   남성  여성
만족도
만족   50  40
보통   40  30
불만족  10  30

In [20]:
data =cross_table.values #array 형식을 요구함
data

array([[50, 40],
       [40, 30],
       [10, 30]], dtype=int64)

In [22]:
stat, pval, dof, exp = chi2_contingency(data, correction = False)
print(pval)

0.001892528960792166

In [25]:
pd.DataFrame(exp, columns=cross_table.columns, index = cross_table.index)

성별     남성    여성
만족도
만족   45.0  45.0
보통   35.0  35.0
불만족  20.0  20.0