In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

import matplotlib.pyplot as plt
%matplotlib inline

import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system...  sorry~~~')

# 범주형 데이터의 처리

## patsy패키지를 사용한 더미변수화

In [5]:
df = pd.DataFrame(["male", "female"], columns = ["sex"])
df

      sex
0    male
1  female

In [9]:
from patsy import dmatrix

dmatrix("sex + 0" , df)

DesignMatrix with shape (2, 2)
  sex[female]  sex[male]
            0          1
            1          0
  Terms:
    'sex' (columns 0:2)

In [11]:
df2 = pd.DataFrame(["a","b","o","ab"], columns = ["blood"])
df2

  blood
0     a
1     b
2     o
3    ab

In [12]:
dmatrix("blood +0", df2)

DesignMatrix with shape (4, 4)
  blood[a]  blood[ab]  blood[b]  blood[o]
         1          0         0         0
         0          0         1         0
         0          0         0         1
         0          1         0         0
  Terms:
    'blood' (columns 0:4)

In [19]:
df3 = pd.DataFrame([1,2,3,4], columns=["x"])
df3

   x
0  1
1  2
2  3
3  4

In [25]:
dmatrix("C(x) + 0", df3)

TypeError: 'tuple' object is not callable