In [28]:
# 설정변경 코드
# 변수 명이 두번 이상 출력되어도 모든 콘솔에서 보여줄 것

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

# 행과 열을 동시에 인덱싱 하는 구조는 기본 자료 구조 인덱스와 차이가 있음
- df['열']
- df[:'행']
- df['열'][:'행']

### 데이터 프레임에서 인덱서 사용

- loc iloc 속성을 사용하는 인덱싱
- pandas 패키지는 [행번호][열번호] 인덱싱 불가
- iloc[행번호][열번호] -가능
- loc[행제목][열제목] -가능

인덱싱 값
1. 인덱스 데이터(index name, column name)
2. 인덱스 데이터 슬라이스
3. 같은 행 인덱스를 갖는 불리언 시리즈(행 인덱스인 경우)
4. 조건으로 추출가능
5. 위 값을 반환하는 함수

In [3]:
# Pandas 패키지 불러오기

import pandas as pd
import numpy as np

In [4]:
# 예제 df 생성
# 10-21 범위의 숫자를 생성 후 3행 4열로 배치 np.arange(10,22).reshape(3,4)
df = pd.DataFrame(np.arange(10,22).reshape(3,4),
                 index = ['a','b','c'],
                 columns = ['A','B','C','D'])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [6]:
# loc 인덱서
# 객체.loc[인덱스값]
# 인덱싱 값을 하나만 받는 경우
df.loc['a'] # 행우선 인덱서이므로 a행의 모든 열을 추출하시오
type(df.loc['a'])

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [ ]:
# loc는 행우선 인덱싱을 한다
# df.loc['A']
# A열의 모든 행을 출력하시오 라는 의미로 전달했지만
# A행이 없으므로 key error 발생

In [7]:
# b행부터 c행의 모든 열 반환
df.loc['b':'c'] # 슬라이싱 사용
df['b':'c'] # 동일한 결과로 나타남

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [9]:
# 인덱서의 인덱스 값 : 리스트 사용 가능
# 반환값이 데이터 프레임 형태
df.loc[['b','c']]
df.loc[['a','c']]

    A   B   C   D
a  10  11  12  13
c  18  19  20  21

In [12]:
# 두 코드의 반환 결과값의 타입이 다르게 반환
df.loc['b'] # 시리즈
df.loc[['b']] # 데이터 프레임

    A   B   C   D
b  14  15  16  17

In [15]:
# 불리언 시리즈 행을 선택하는 인덱싱 값으로 쓸 수 있다
df.A > 15 #df 객체의 A열의 값이 15보다 큰지 확인 T/F로 반환 - 시리즈

a    False
b    False
c     True
Name: A, dtype: bool

In [16]:
# 원본출력
df
# 
df.loc[df.A>15] # 해당되는 행의 모든 열을 가지고 옴

    A   B   C   D
c  18  19  20  21

In [18]:
# 인덱스 대신 인덱스 값을 반환하는 함수 사용 가능
# 함수 작성
def sel_row(df) : 
    return df.A > 15

In [19]:
# 함수 호출
df.loc[sel_row(df)]

    A   B   C   D
c  18  19  20  21

In [21]:
# 인덱싱의 값으로 행과 열을 모두 받는 경우
# 문법 : df.loc[행인덱스, 열인덱스] # 라벨인덱스
df.loc['a','A']

10

In [24]:
# loc를 이용한 원소값 변경
df.loc['a','A']  = 50
df

    A   B   C   D
a  50  11  12  13
b  14  15  16  17
c  18  19  20  21

In [30]:
# loc를 이용한 indexing 예제
# a행의 모든 열
df.loc['a'] # 시리즈 형태
df.loc[['a']] # df 형태
df.loc['a',:] # 시리즈 형태

A    50
B    11
C    12
D    13
Name: a, dtype: int32

    A   B   C   D
a  50  11  12  13

A    50
B    11
C    12
D    13
Name: a, dtype: int32

In [27]:
df
# df 데이터 프레임의 a행의 'B', 'C' 열을 추출하시오
df.loc['a','B' : 'C'] # 시리즈 형태로 반환

B    11
C    12
Name: a, dtype: int32

In [29]:
# b행부터 모든 행의 A열
df.loc['b':,'A']

b    14
c    18
Name: A, dtype: int32

In [37]:
df.loc['a':'b'] # a, b행의 모든 열 df로 반환
df.loc[['a','b']]# a,b 행의 모든 열 df로 반환
df.loc[['a','b'],'B'] # a,b 행의 B열을 시리즈로 반환
df.loc[['a','b'],['B']] # a,b행의 B열을 df로 반환
df.loc[['a','b'],['B','D']]# a,b행의 B,D열을 df로 반환

    A   B   C   D
a  50  11  12  13
b  14  15  16  17

    A   B   C   D
a  50  11  12  13
b  14  15  16  17

a    11
b    15
Name: B, dtype: int32

    B
a  11
b  15

    B   D
a  11  13
b  15  17

### iloc 인덱서
- 라벨(name)이 아닌 위치를 나타내는 정수 인덱스만 받는다.
- 위치 정수값은 0부터 시작

In [39]:
df
df.iloc[0,1] # 0행 1열

    A   B   C   D
a  50  11  12  13
b  14  15  16  17
c  18  19  20  21

11

In [40]:
df.iloc[0:2,1:2] # df 형태로 반환 - 슬라이싱 사용

    B
a  11
b  15

In [41]:
df.iloc[0:2,1] # 시리즈 형태로 반환

a    11
b    15
Name: B, dtype: int32

In [42]:
df.iloc[0:2]

    A   B   C   D
a  50  11  12  13
b  14  15  16  17

In [44]:
# 0행의 끝에서 2번째 열부터 끝열까지 반환하시오
df.iloc[0:1,-2:] #df
df.iloc[0,-2:] #시리즈

    C   D
a  12  13

C    12
D    13
Name: a, dtype: int32

In [ ]:
# iloc[위치,위치] -> 원소값 반환
# iloc[위치:위치, 위치:위치] -> 원소 반환 : df 반환
# iloc [위치, 위치:위치] -> 원소반환 : 시리즈 반환
# iloc[위치:위치,위치] -> 원소 반환 : 시리즈 반환

# 연습문제
1. 모든 행과 열에 라벨을 가지는 5*5 이상 크기의 데이터 프레임을 만든다 (.np 난수 발생 함수 이용)
2. 10가지 이상의 방법으로 특정한 행과 열을 추출해볼 것
    - 2번 작업을 진행하면서 주석으로 추출하는 내용을 정리할 것
3. 모든 인덱싱 방법을 사용할 것

In [55]:
df = pd.DataFrame(np.arange(25).reshape(5,5),
        index = ['a','b','c','d','e'],
        columns = ['가','나','다','라','마'])
df

    가   나   다   라   마
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [74]:
df['가'] # 열우선, 시리즈
df['a':'c'] # 행우선, df
# df['a'] # 오류 발생, 열에는 a가 없으므로
df['a':'a'] # 행 뽑을 땐 슬라이싱 사용
df.loc['a'] # 행 우선, 시리즈
df.loc['a':'c',['가','라']]

a     0
b     5
c    10
d    15
e    20
Name: 가, dtype: int32

    가   나   다   라   마
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14

   가  나  다  라  마
a  0  1  2  3  4

가    0
나    1
다    2
라    3
마    4
Name: a, dtype: int32

    가   라
a   0   3
b   5   8
c  10  13