# 파이썬에서 MySQL을 사용할 수 있는 모듈 : 대표적으로 pymusql (설치 필요)

## 라이브러리 소개 및 설치
- 다양한 라이브러리(MySQLdb, MySQL connector 등 다양한 라이브러리 존재)
- 이중에서 설치가 가장 쉬운 라이브러리
- 설치방법 : pip install PyMySQL
- 일반적인 MySQL 핸들링 코드 작성 순서
    1. PyMySQL 모듈을 import : import pymysql
    2. MySQL - MariaDB에 연결 : pymysql.connect() -> 변수로 저장해야 함!
        - 인수로 호스트명, 포트, 사용자, 암호, 접속할DB 등을 인수로 전달
    3. My SQL과 접속이 성공하면 connection 객체(로그인증명서)가 반환이 되면 커리를 실행할 수 있도록 Cursor 객체를 가져옴
        - cursor() 호출
        - curcor는 control structure of database
    4. Cursor 객체의 excute() 매서드를 사용하여 쿼리문장을 DB 서버에게 전송
    5. select 같이 데이터가 반환된 쿼리에 대해서는
        - Cursor 객체의 fetchall(), fetchone(), fetchmany() 등의 매서드를 사용하여 서버로부터 가져온 데이터를 코드에서 활용
    6. 삽입, 삭제, 갱신 DML 문장 : INSERT, UPDATE, DELETE 쿼리는 실행 후에 Connection 객체의 comit() 메서드를 사용해서 데이터를 확정
    7. 사용이 끝나면 Connection 객체의 close() 메서드를 사용하여 DB 연결을 닫음

In [28]:
# 모듈 install
import pymysql

pymysql.connect() 메소드를 사용하여 MySQL에 연결
   - 호스트명, 포트, 사용자, 암호, 접속할 DB등을 파라미터로 지정
   - 주요 파라미터
       - host : 접속할 mysql server 주소
       - port : 접속할 mysql server 의 포트번호
       - user : mysql ID
       - password : mysql ID 암호
       - DB : 접속할 데이터베이스
       - charset = 'utf8' : mysql에서 select하여 데이터를 가져올 때 한글이 깨질 수 있으므로 연결 설정에 넣어줌

In [29]:
db = pymysql.connect(host='localhost', port = 3306, user = 'root', password = '0000', db='ecommerce', charset = 'utf8')

In [4]:
db

In [30]:
ecommerce = db.cursor()

In [23]:
ecommerce

In [ ]:
# 테이블 생성
- Cursor Object 가져오기 cursor = db.cursor()
- SQL 실행하기 : cursor.execute(SQL)
- 실행 mysql 서버에 확정 반영하기 : db.commit()

In [31]:
sql = """
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
"""

In [32]:
ecommerce.execute(sql) # 쿼리구문 실행

OperationalError: (1050, "Table 'product' already exists")

In [8]:
db.commit() # db 서버의 확정

In [9]:
db.close() # db 연결 해제된다

# 실습

In [53]:
# db 연결은 모듈별 서비스로 생각하면 메뉴별로 연결코드를 넣는 것이 일반 적
# import pymysql

import pymysql

db = pymysql.connect(host='localhost', port = 3306, user = 'root', password = '0000', db='ecommerce', charset = 'utf8')
ecommerce = db.cursor()
# insert 연습
for idx in range(10) :
    product_code = 21576740 + idx + 1 # 제품코드는 변수로 생성
    sql = """INSERT INTO product values('"""+str(product_code)+"""',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');"""
    print(sql)
    ecommerce.execute(sql)
    
db.commit()
db.close()

INSERT INTO product values('21576741',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product values('21576742',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product values('21576743',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product values('21576744',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product values('21576745',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product values('21576746',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product values('21576747',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product values('21576748',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product values('21576749',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product values('21576750',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');

# 데이터 조회(SELECT)
- cursor object 가져오기 : cursor = db.cursor
- SQL 실행하기 : cursor.executes(SQL)
- my sql 서버로부터 데이터 가져오기 : fetch 메서드 사용
    - fectchall() : Fetch all the rows
    - fetchmany(size=None): Fetch several rows
    - fetchone() : Fetch the next row(레코드 한개를 반환 - 현재 커서위치에서 다음 레코드를 내려가서 반환)

In [54]:
import pymysql

db = pymysql.connect(host='localhost', port = 3306, user = 'root', password = '0000', db='ecommerce', charset = 'utf8')
cursor = db.cursor()
sql = "select * from product"
cursor.execute(sql) # product 테이블의 모든 레코드가 table 형태로 반환
# 반환되는 시점에 커서는 컬럼명을 포인트하고 있음
result = cursor.fetchone() # 커서를 아래 레코드로 이동한 후 레코드 하나 반환
print(result) # 테이블의 첫번째 레코드
result = cursor.fetchone() # 커서를 아래 레코드로 이동한 후 레코드 하나 반환
print(result) # 테이블의 두번째 레코드
db.close()

('21576741', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('21576742', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

# 데이터 수정(UPDATE)
- cursor object 가져오기 : cursor = db.cursor()
- SQL 실행하기 : cursor.execute(SQL) - update구문
- 실행 mysql 서버에 확정 반영하기 : db.commit()

In [ ]:
# 달리삽린넨원피스 뷔스티에 썸머 가디건 코디전
# 33,000원
# 9,900원
# 70

# UPDATE product SET
# title = '달리삽린넨원피스 뷔스티에 썸머 가디건 코디전'
# ori price = 33000,
# discount_pricediscount_price = 9900
# discount_percent = 70,
# where discount_code = '21576741'

In [59]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기 
db = pymysql.connect(host = 'localhost', port = 3306, user = 'root', password ='0000', db = 'ecommerce', charset = 'utf8')

# 3. 커서가져오기
ecommerce = db.cursor()

# 4. SQL 구문 만들기
SQL ="""
UPDATE product SET
title = '달리삽린넨원피스 뷔스티에 썸머 가디건 코디전',
ori_price = 33000,
discount_price = 9900,
discount_percent = 70
where product_code = '21576741'
"""

# 5. SQL 구문 실행하기
ecommerce.execute(SQL)

# 6. db commit 하기
db.commit()

# 7. close()
db.close()

# 데이터 삭제(DELETE)

In [ ]:
DELETE FROM product WHERE product_code='21576741'

In [60]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기 
db = pymysql.connect(host = 'localhost', port = 3306, user = 'root', password ='0000', db = 'ecommerce', charset = 'utf8')

# 3. 커서가져오기
ecommerce = db.cursor()

# 4. SQL 구문 만들기
SQL ="""
DELETE FROM product WHERE product_code='21576741'
"""

# 5. SQL 구문 실행하기
ecommerce.execute(SQL)

# 6. db commit 하기
db.commit()

# 7. close()
db.close()

# 연습문제
> 위 pymysql 샘플코드를 참고해서 다음과 같이 작업하기
insert 모듈과 create table 모듈을 분리해서 작업(각각 연결 따로할 것)

## 웹페이지(http://www.enuri.com/list.jsp?cate=0707010)에서 1위 ~ 10위까지 데이터 입력하기

테이블명 : best
   
- id는 자동증가
- name은 코어이름
- model_num은 코어모델번호
- model_type은 코드명

### 예 : 코어 i7 7700 카비레이크
- name : i7
- model_num : 7700
- model_type : 카비레이크

In [66]:
# create table

import pymysql
db = pymysql.connect(host = 'localhost', port = 3306, user = 'root', passwd = '0000', db = 'ecommerce', charset = 'utf8' )
ecommerce = db.cursor()
SQL = """
CREATE TABLE best2(
id int AUTO_INCREMENT NOT NULL,
name VARCHAR(20) NOT NULL,
model_num VARCHAR(30) NOT NULL,
model_type VARCHAR(30) NOT NULL,
PRIMARY KEY(id)
);
"""
ecommerce.execute(SQL)
db.commit()
db.close()

In [90]:
# insert

import pymysql
db = pymysql.connect(host ='localhost', port = 3306, user ='root', passwd = '0000', db = 'ecommerce', charset = 'utf8')
ecommerce = db.cursor()

# SQL = """ INSERT INTO best2 (name, model_num, model_type) values ('i5','10400F', '코멧레이크S');
#           INSERT INTO best2 values('i9','10900K', '코멧레이크S'); 
#           INSERT INTO best2 values('i3','10100', '코멧레이크S'); 
#           INSERT INTO best2 values('인텔셀러론','G4900', '커피레이크');
#           INSERT INTO best2 values('i5','9400F', '커피레이크'); 
#           insert into best values ('i3','10100F', '코멧레이크S'); 
#           insert into best values ('i7','10700K', '코멧레이크S');
#           insert into best values ('i7','10400KF', '코멧레이크S');
#           """

# -> cursor.execute() 로는 실행이 되지 않음
# 여러개의 insert 문을 한번에 실핼할 때
# executemany(query, values)
# query : sql 문장을 입력 값은 포맷문자 사용해서 미정으로 처리
query = "INSERT INTO best2 (name, model_num, model_type) values (%s, %s, %s); "
# values: query에서 미정된 값을 튜플 형태로 구성, 값 튜플이 여러개면 리스트안에 튜플을 나열한다.
values = [
    ('i5','10400F', '코멧레이크S'),
    ('i9','10900K', '코멧레이크S'),
    ('i3','10100', '코멧레이크S'),
    ('인텔셀러론','G4900', '커피레이크'),
    ('i5','9400F', '커피레이크'),
    ('i3','10100F', '코멧레이크S'),
    ('i7','10700K', '코멧레이크S'),
    ('i7','10400KF', '코멧레이크S')
]


ecommerce.executemany(query,values) # execute 앞에는 커서명이 들어와야 한다

db.commit()

db.close()

# pandas 라이브러리와 pymysql

1. read_sql()
- pandas 라이브러리 함수로 접속된 dbms를 통해 sql 결과를 바로 읽어온다

In [74]:
import pymysql
import pandas as pd

In [81]:
host_name = 'localhost'
host_port = 3306
username = 'root'
password = '0000'
database_name = '판매'

In [82]:
db = pymysql.connect(
    host = host_name,
    port = host_port,
    user = username,
    passwd=password,
    db=database_name,
    charset='utf8')

# pandas.read_sql(쿼리, 연결된 db connection 객체)

In [83]:
sql ="show tables" # 해당 db에 존재하는 테이블의 목록을 출력하는 쿼리문

In [84]:
df=pd.read_sql(sql,db)

In [85]:
df

  Tables_in_판매
0           고객
1         배송업체
2           제품
3           주문

In [86]:
sql = 'select * from 고객'
df=pd.read_sql(sql,db)
df

        고객아이디 고객이름    나이      등급   직업   적립금
0       apple  정소화  20.0    gold   학생  1000
1      banana  김선우  25.0     vip  간호사  2500
2      carrot  고명석  28.0    gold   교사  4500
3       melon  성원용  35.0    gold  회사원  5000
4      orange  김용욱  22.0  silver   학생     0
5       peach  오형준   NaN  silver   의사   300
6        pear  채광주  31.0  silver  회사원   500
7  strawberry  최유경  30.0     vip  공무원   100

In [88]:
df.to_csv('고객.csv', sep=',',index = False, encoding='utf8')